# DSH Docker 镜像
DSH_IMAGE=dsh-local:latest

# Docker 容器名称
DSH_CONTAINER_NAME=dsh

# Web 访问端口
DSH_PORT=3080

# DSH 工作目录
#
# Windows 示例：
# DSH_WORKSPACE=D:/dsh
#
# Linux 示例：
# DSH_WORKSPACE=/opt/dsh

DSH_WORKSPACE=./workspace
